// Color Scheme (Black and White)
$primary-color: #000;
$secondary-color: #fff;

// Typography
// --family
$primary-font-family: 'Arial Black', sans-serif;
$secondary-font-family: 'Arial', sans-serif;
//-size
$base-font-size: 16px;
// --color
$primary-font-color: #fff;
//--weight
$font-weight-normal: 400;
$font-weight-bold: 700;

// Border colors
$color-border: #f6f6f6;

// Helper colors for form error states
$color-disabled: #000;
$color-disabled-border: #000;
$color-error: #000;
$color-error-bg: #000;
$color-success: #000;
$color-success-bg: #000;


